@import '/src/assets/styles/Colors.scss';

.collapse {
  display: flex;
  flex-direction: column; 
  max-width: 1023px; 
  transition: all 0.5s ease; 
  align-self: start; 
  
  * {
    transition: all 0.5s ease; 
  }

  button {
    display: flex;
    align-items: center;
    background-color: $primary-color;
    width: 100%;
    border-radius: 5px;
    padding: 5px;

    @media screen and (min-width: 768px) {
      border-radius: 10px;
      padding: 5px;
    }

    svg {
      margin-left: auto;
    }

    h3 {
      margin-right: 10px;
    }

    * {
      color: $accent-color;
      margin: 5px;

      @media screen and (min-width: 768px) {
        padding: 10px 20px 10px 15px; 
      }
    }
  }

  li {
    list-style-type: none;
    font-size: 12px;
    line-height: 142.6%;

    @media screen and (min-width: 768px) {
      font-size: 18px;
    }
  }

  p, ul {
    text-align: justify;
    border-radius: 5px;
    background: rgba($secondary-color, 0.04);
    margin: 0;
    padding: 10px; 
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top center;
    height: 0;

    &.open {
      opacity: 1;
      transform: scaleY(1);
      height: 100%;
      margin-bottom: 15px;
    }
  }
}
