@import '/src/assets/styles/Colors.scss';

.collapse {
  margin: 0 1rem;
  display: flex;
  flex-direction: column; 
  max-width: 1023px; 
  transition: all 0.5s ease; 

  @media screen and (min-width: 1240px) {
    margin: auto;
  }
  
  * {
    transition: all 0.5s ease; 
  }

  button {
    display: flex;
    align-items: center;
    background-color: $primary-color;
    width: 100%;
    border-radius: 5px;
    margin-top: 1rem;

    @media screen and (min-width: 768px) {
      border-radius: 10px;
    }

    svg {
      margin-left: auto;
    }

    h3 {
      margin-right: 10px;
    }

    * {
      color: $accent-color;
      margin: 5px;

      @media screen and (min-width: 768px) {
        padding: 10px 20px 10px 15px; 
      }
    }
  }

  p {
    text-align: justify;
    border-radius: 5px;
    background: var(--Gray, rgba(246, 246, 246, 0.45));
    margin: 0;
    padding: 10px; 
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top center;
    height: 0;

    &.open {
      opacity: 1;
      transform: scaleY(1);
      height: 100%;
    }
  }
}
