@import '/src/assets/styles/Colors.scss';

footer {
  background-color: $secondary-color;
  display: block;
  margin-top: 3rem;
  width: 100%;
  padding: 6vh 0;

  .logo * {
    fill: $accent-color;
    margin-bottom: 1rem;
    width: 122px;
  }

  * {
    text-align: center;
    color: $accent-color;
  }
}
