@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import './assets/styles/Colors.scss';

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#root {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h2 {
  color: $primary-color;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;

  @media only screen and (min-width: 768px) {
    font-size: 24px;
  }

  @media only screen and (min-width: 1280px) {
    font-size: 36px;
  }
}

h3 {
  font-size: 14px;
  font-weight: 500;

  @media only screen and (min-width: 768px) {
    font-size: 18px;
  }
}

p {
  font-size: 12px;

  @media only screen and (min-width: 768px) {
    font-size: 18px;
  }
}

a {
  text-decoration: none;
  color: $secondary-color;

  &:hover {
    text-decoration: underline;
  }
}

main {
  max-width: 1280px;
  width: 100%;
}

button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  cursor: pointer;
}

.section {
  margin: 1rem 2rem;


  @media only screen and (min-width: 1023px) {
    margin: auto;
    max-width: 1023px;
  }

}

.error {
  text-align: center;
  margin: 3rem 1rem;

  @media only screen and (min-width: 1280px) {
    // Add additional styles for larger screens if needed
  }

  h2 {
    margin: 10vh 0;
  }

  h1 {
    color: $primary-color;
    font-size: 26vw;
    margin: 5vh 0;

    @media only screen and (min-width: 768px) {
      font-size: 19vw;
    }

    @media only screen and (min-width: 1280px) {
      font-size: 288px;
    }
  }

  a {
    margin: 10vh 0;
  }
}
