@import '/src/assets/styles/Colors.scss';

.carousel {
  margin: auto;
  position: relative;
  width: 100%;
  max-width: 340px;
  border-radius: 10px;
  overflow: hidden;
  aspect-ratio: 4/3;

  @media screen and (min-width: 768px) {
    border-radius: 25px;
    max-width: 1240px;
    height: 415px; 
  }

  .slides {
    display: flex;
    overflow: hidden;
    height: 100%;
    position: relative; 


    .slide {
     
      opacity: 0;
      transition: all 0.5s ease;


      &.active {
        opacity: 1;
      }
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 1;
  }

  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2;

    * {
      color: $accent-color;
    }
  }

  .prev {
    left: 10px;
  }

  .next {
    right: 10px;
  }

  .pagination {
    display: block;

    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: 10px; 
      left: 50%;
      transform: translateX(-50%);
      z-index: 5;
    }

* {

  color: $accent-color;
}

  }



}
